@charset "utf-8";
body {
	background-color: wheat;
	
}

img {
	width: 750px;
}

img:hover {
	border: dotted 5px black;
	width: 750px;
	border-radius: 80%;
}

h2 {
	font-family: "Papyrus", "Courier New", monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
